{% extends "todo_app/layouts/layout.html" %}

{% block title %}
    Add New Task:
{% endblock %}

{% block content %}

    <div class="content-list">
        <form method="POST">
            {% csrf_token %}
            <div class="form-input-flex">
                {% for field in form.visible_fields %}
                    <div class="form-input-option">
                        {{ field.label_tag }}
                        {{ field }} 
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="btn-to-right-side">
                <button class="list-item-btn btn-add-new">Add Task</button>

                <a class="list-item-btn btn-add-new" href="{% url 'home' %}">Cancel</a>
            </div>
            </form>

    </div>

{% endblock %}