
h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form {
    -webkit-box-shadow: 0px 0px 39px -16px rgba(45, 45, 45, 1);
    -moz-box-shadow: 0px 0px 39px -16px rgba(45, 45, 45, 1);
    box-shadow: 0px 0px 39px -16px rgba(45, 45, 45, 1);
    
    padding: 20px;
    margin: 10px;
    background-color: var(--palette-2);
    border-radius: 15px;
}

footer {
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}

.list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;

    border-radius: 6px;
    background-color: var(--palette-4);

    transition: filter 0.2s ease-out;
    filter: brightness(100%);
}

.list-item:hover {
    filter: brightness(90%);
}

.list-item-text {
    max-width: 300px;
}

.list-item > form {
    margin-left: 20px;
}

.list-item-btn {
    background-color: var(--palette-btn-done);
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.list-item-btn:hover {
    filter: brightness(120%)
}

.list-item-priority {
    background-color: var(--palette-priority);
}

.btn-add-new {
    background-color: var(--palette-btn-new) !important;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
}

.content-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.btn-to-right-side {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 30px;
}

.form-input-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-input-option {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 0 5px 0;
}

.form-input-option > input, textarea {
    box-shadow: 0 0 7px 0px rgb(133, 133, 133);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
    color: #3c3c3c;
}

.detail-strong {
    text-decoration: underline;
}

.limited-p {
    max-width: 350px;
}